<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login-Sistema</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header>
      <img id="logo" src="../img/icon.png" alt="Logo da Pizzaria Irarire" />
      <nav>
        <ul class="list-without-bullets">
          <li><a href="sobre.html">Sobre</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
        <form action="search" method="get">
          <input
            id="search"
            class="caixa-pesquisa"
            type="text"
            placeholder="Buscar..."
          />
        </form>
        <ul class="list-without-bullets">
          <li><a href="login.html">Entrar</a></li>
          <li>
            <a id="cadastro-button" href="cadastro.html">Criar Conta</a>
          </li>
        </ul>
      </nav>
      <a href=""
        ><img
          id="shopping-cart"
          src="../img/shoppingCart.png"
          alt="Carrinho de compras"
      /></a>
    </header>
    <main>
      <section id="login">
        <div class="body-grid">
          <div class="container">
            <img
              id="icon-servidor"
              src="../img/servidor.png"
              alt="Imagem de um Servidor"
            />
          </div>
          <div class="body-card-orange">
            <aside id="login">
              <h2>Seja bem-vindo!</h2>
              <form action="">
                <p>Usuário:</p>
                <input
                  class="campo"
                  id="email"
                  type="text"
                  placeholder="Digite seu e-mail"
                  required
                />
                <p>Senha:</p>
                <input
                  class="campo"
                  id="password"
                  type="password"
                  placeholder="Digite sua senha"
                  required
                />
                <div class="flex-row-unjustify">
                  <input id="remember-me" type="checkbox" /> Lembrar-me
                </div>
                <button type="submit">Entrar</button>
              </form>
            </aside>
          </div>
        </div>
      </section>
    </main>
    <footer id="contato">
      <p>Tell: (11) 99999-9999</p>
      <p>Email: pizzariairare@gmail.com</p>
      <small>© 2026 Pizzaria Irare. Todos os direitos reservados.</small>
    </footer>
  </body>
  <script src="../js/script.js" defer></script>
</html>
